{% extends 'base.html' %}
<!-- Content start -->
{% block content %}
<!-- form  -->
<div class="card mt-3">
  <h2>Log into your account</h2>
  <form action="" method="POST" class="mt-3">
    {% csrf_token %}
    <!-- fields  -->
    <div>
      <label for="id_email">Email:</label>
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="Enter your email"
        id="id_email"
      />
    </div>
    <div>
      <label for="id_password">Password:</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Enter your password"
        id="id_password"
      />

    <button type="submit" class="btn btn-primary my-3">Login</button>
    <p>Do not have an account? <a href="http://">register</a></p>
  </form>
</div>
<!-- end form -->
{% endblock %}
