{% extends 'base.html' %}
<!-- Content start -->
{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      {% if user.profile_pic %}
      <button class="btn btn-secondary">
        <img src="{{user.profile_pic.url}}" height="100" width="100" />
      </button>
      {% else %}
      <button class="btn btn-secondary">
        <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
      </button>
      {% endif %}
      <span class="name mt-3">{{ user.first_name}} {{ user.last_name}}</span>
      <span class="idd">{{user.email}}</span>
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-2"
      >
        <span class="idd1">{{user.phone}}</span>
        <span><i class="fa fa-copy"></i></span>
      </div>
      <div
        class="d-flex flex-row justify-content-center align-items-center mt-3"
      >
        <span class="number">1069 <span class="follow">Followers</span></span>
      </div>
      <div class="d-flex mt-2">
        <a class="btn btn-primary" href="{% url 'core:update_profile' %}"
          >Edit Profile</a
        >
      </div>
      <div class="text mt-3">
        <span> {{user.bio | linebreaks}} </span>
      </div>
      <div
        class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"
      >
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
        <span><i class="fa fa-linkedin"></i></span>
      </div>
      <div class="px-2 rounded mt-4 date">
        <span class="join">{{user.date_joined}}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
